{% extends "smartmemo/base.html"%}

{% block title%}
Smart memo
{% endblock %}

{% block content %}

<h1>
SmartMemoへようこそ!
</h1>
<p>
    シンプルなメモ管理アプリ
</p>
        
{% for memo in memos %}
<div class="card mb-3 shadow-sm"> <!--カードに影をつける-->
    <div class="card-body">

        {% if memo.category%}
        <a href="{% url 'category' memo.category.id %}" class="text-decoration-none">
            <span class="badge bg-primary mb-2">
                {{ memo.category.name}}
            </span>
        </a>
        {% endif %}


        <h4 style="font-size: 2rem;">
            <a href="{% url 'detail' memo.id %}" style="text-decoration: none; color: inherit;">
                {{ memo.title }}
            </a>
        </h4>
        
        <p class="text-muted mb-2" style="font-size: 0.9rem;">
            更新日：{{ memo.updated_at|date:"Y年m月d日 H:i" }}
        </p>

    </div>
</div>
{% endfor %}
        
<a href="{% url 'create' %}" class="btn btn-primary btn-lg">
    +新しいメモ作成
</a>

<!--ページネーション-->
<nav aria-label="メモ一覧のページ">
    <ul class="pagination justify-content-center">

        {% if memos.has_previous %}
        <li class="page-item">
            {% if keyword %}
            <a class="page-link" href="?keyword={{ keyword }}&page={{ memos.previous_page_number }}">
                前へ
            </a>
            {% else %}
            <a class="page-link" href="?page={{ memos.previous_page_number }}">
                前へ
            </a>
            {% endif %}
        </li>
        {% endif %}

        {% for num in memos.paginator.page_range %}
        <li class="page-item {% if memos.number == num %}active{% endif %}">
            {% if keyword %}
             <a class="page-link" href="?keyword={{ keyword }}&page={{ num }}">
                {{num}}
             </a>
            {% else %}
             <a class="page-link" href="?page={{ num }}">
                {{num}}
             </a>
            {% endif %}
        </li>
        {% endfor %}

        {% if memos.has_next %}
        <li class="page-item">
            {% if keyword %}
            <a class="page-link" href="?keyword={{ keyword }}&page={{ memos.next_page_number }}">
                次へ
            </a>
            {% else %}
            <a class="page-link" href="?page={{ memos.next_page_number }}">
                次へ
            </a>
            {% endif %}
        </li>
        {% endif %}
    </ul>
</nav>

{% endblock %}